<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'webframe/css/homepage.css' %}">

</head>
<body>
    <div class = 'prompt'>
        <h5>image recognition</h5>
        <form action="/upload" enctype='multipart/form-data' method = 'post'>
            {% csrf_token %}
            <div class = "container">
                <input class = 'btn grey darken-1'type = "file" name='img'>
                <button class = "btn grey">upload</button>
            </div>
        </form>
        <br>
        <a href="/">back home</a>
    </div>
</body>
</html>